{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>

<section class="section">
    <div class="container"
        <div class="rows">
            <h3>Inserir Ordem - {{encomenda.resumo}} - {{encomenda.quantidade}} unidades</h3>
            <br>
            <ul class="menu-list">
                <div class="column is-2">
                    <div class="form-group">
                        <div class="aside">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Salvar</button>
                                {% if obj %}
                                    <a class="btn btn-sm btn-danger" href="{% url 'programa-delete_ordem' encomenda.id obj.id %}"title="delete">
                                      <i class="fa fa-trash"> Eliminar</i></a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </ul>
            </ul>
        </div>
    </div>
</section>




{% endblock content %}